.row{
    padding: 20px;
    border: solid blueviolet 3px;
    margin: 15px
}

div{
    background-color: #d3b3e4;
    
}

h1,h3{
    display: inline;
}

#descripcion{
    font-size: 20px;
}

#experiencia{
    padding-top: 50px;
}