<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpeg"  id="fotoDePerfil"
        class="img-fluid">
    </div>

 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            <p id="acercaDeMiDescripcion">Mi objetivo a nivel laboral es tener la oportunidad de pertenecer a una empresa que posibilite mi desarrollo personal 
                y profesional para poder brindar mis mejores cualidades. 
                Me considero una persona ágil y activa, me gusta aprender, ser eficiente y cumplir con mis tareas.</p>
        </span>
    </div>

</div>

