<div class="row">
    <h1>Cursos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Argentina Programa #SéProgramar</h1>
           
            <p id="descripcionCurso">Ministerio de Desarrollo Productivo.<br>Primera etapa de Argentina Programa. <br>Capacitación de Programación y Desarrollo Web.  (2021)</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <a href="https://mumuki.io/argentina-programa/certificates/verify/qw95fjTgOaA5HVp2"> <img  src="../../../assets/seprogramar.png" class="img-fluid 
            img-proyecto"> </a>
            
        </div>

        
       
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Curso de Programación Basica I</h1>
            <br>
            <p id="descripcionCurso">Universidad Nacional de Hurlingham (2021)
            </p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <a href=""> <img  src="../../../assets/cursoProgramacionB.PNG" class="img-fluid 
            img-proyecto"> </a>
            
        </div>
        
    
    </div>
</div>