.row{
    padding: 20px;
    background-color: #a1b5cb;
}

.contenedor{
    width: auto;

}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

/*no me funciono este img pero el objetivo era ponerle una sombra de fondo a la imagen del proyecto realizado*/
.img-proyecto{
    box-shadow: 100px 10px 30px #da141400;


}