<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet consectetur,
             adipisicing elit. Corporis deserunt quidem maxime 
             corrupti ex beatae molestiae! Fuga quisquam dolore 
             voluptatibus, qui optio quas ad adipisci, 
            inventore tempora incidunt earum assumenda.
        </p>

        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet consectetur,
             adipisicing elit. Corporis deserunt quidem maxime 
             corrupti ex beatae molestiae! Fuga quisquam dolore 
             voluptatibus, qui optio quas ad adipisci, 
            inventore tempora incidunt earum assumenda.
        </p>


        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet consectetur,
             adipisicing elit. Corporis deserunt quidem maxime 
             corrupti ex beatae molestiae! Fuga quisquam dolore 
             voluptatibus, qui optio quas ad adipisci, 
            inventore tempora incidunt earum assumenda.
        </p>

        

    </div>
</div>
